@charset "UTF-8";
/* CSS Document */

body{
	background-color:#000;
	color:#333;
}

div#logo{
	position:fixed;
	top:10px;
	left:5px;
	background-image:url(../images/logo.png);
	width:323px;
	height:95px;
}

.jimgMenu {
	position:relative;
	margin: 10px auto 0px auto;
	padding: 0px;
	width:700px;
	height:200px;
	overflow: hidden;
}

.jimgMenu ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	display: block;
	height: 200px;
	position: relative;
	}
	
.jimgMenu ul li {
	width: 90px;
	float: left;
	display: block;
	overflow:visible;
}

.jimgMenu ul li a {
	text-indent: -1000px;
	background:#fff repeat scroll 0%;
	border-right: 2px solid #fff;
	cursor:pointer;
	display:block;
	overflow: visible;
	height: 200px;
}

.jimgMenu ul li#about a {
	background: url(../images/about.png) repeat scroll 0%;
  
}

.jimgMenu ul li#lighting a {
	background: repeat scroll 0%;
	background: url(../images/lighting.png);
}

.jimgMenu ul li#media a {
	background: url(images/nature.jpg) repeat scroll 0%;
  
}

.jimgMenu ul li#scenic a {
	background: url(images/abstract.jpg) repeat scroll 0%;

}

.jimgMenu ul li#resume a {
	background: url(images/urban.jpg) repeat scroll 0%;

}

.jimgMenu ul li#cv a {
	background: url(images/urban.jpg) repeat scroll 0%;

}

.jimgMenu ul li#contact a {
	background: url(images/urban.jpg) repeat scroll 0%;
	border-right-style: none;
}

.clear {
	clear: both;
}
