*{
	margin:0;
	padding:0;
}

@font-face {
    font-family: 'WhitehallRegular';
    src: url('../fonts/whitehall-webfont.eot');
    src: url('../fonts/whitehall-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/whitehall-webfont.ttf') format('truetype'),
         url('../fonts/whitehall-webfont.svg#WhitehallRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro';
    src: url('../fonts/MyriadPro-Regular.eot');
    src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MyriadPro-Regular.ttf') format('truetype'),
    font-weight: normal;
    font-style: normal;
}

body{
	font-family:Arial;
	background-color:#000;
}

div#head{
	position:fixed;
	width: 100%;
}

div#logo{
	font: MyriadPro, Arial, Helvetica, sans-serif;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	text-shadow: 4px 2px 5px #666;
	color:#FFF;
}

p#name{
	font-size:48px;
	
}

p#title{
	font-size:18px;
}

nav#mainNav{
	text-align:center;
	width:80%;
	padding-bottom:10px;
	margin-left:10%;
	margin-right:10%;
}

nav#mainNav li{
	display: inline;
	font: 18px/27px 'WhitehallRegular', Arial, sans-serif;
}

nav#mainNav li a{
	color:#fff;
	text-decoration:none;
	text-shadow: 4px 2px 5px #FFF;
	border: 2px solid #999;
	border-radius: 6px;
	padding: 5px 20px 5px 20px;
	-webkit-transition: all 0.3s ease-in-out;
	/* Animation with transition in Firefox (No supported Yet) */
	-moz-transition: all 0.3s ease-in-out;
	 /* Animation with transition in Opera (No supported Yet)*/
	 -o-transition: all 0.3s ease-in-out;
}

nav#mainNav li a:hover{
	text-shadow:2px 2px 8px #CCC;
	background-color:#999;
}

nav#socialMedia{
	color: #FFF;
	position:fixed;
	bottom: 5px;
	right: 5px;
	font-size:10px;
}

nav#socialMedia li{
	font: 18px/27px 'WhitehallRegular', Arial, sans-serif;
	display: inline;
	list-style-type:none;
	padding-right:5px;
}

nav#socialmedia li a{
	border: 1px solid #FFF;
	color:#FFF;
	text-decoration:none;
	text-align:center;
	-webkit-transition: all 0.3s ease-in-out;
	/* Animation with transition in Firefox (No supported Yet) */
	-moz-transition: all 0.3s ease-in-out;
	 /* Animation with transition in Opera (No supported Yet)*/
	 -o-transition: all 0.3s ease-in-out;
}

nav#socialmedia li span{
	width: 32px;
	height: 32px;
}

.external{
	target-new:tab;
}

.badge:hover{
	-webkit-transform:scale(1.2);
	-moz-transform:scale(1.2);
}